<!--
Tab for the recipe suggestion.
Will search for recipes on the web, supplying links, based on user's 
  ingredeints that will expire soon
  -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="searchRecipesFor();">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itemList">
        <ion-button href="{{item.link}}">{{ item.name }}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
